/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, button,
textarea, select {
  font: inherit;
}


/* My own styling */

/* Components */

.btn {
    background-color: transparent;
    color: lightsalmon;
    padding: 0.5em 1em;
    cursor: pointer;
    border: 2px solid lightseagreen;
    border-radius: 5px;
    font-weight: 700;
}

.btn:hover {
    transition: .5s;
    opacity: .9;
    color: lightseagreen;
    border-color: lightsalmon;
}

/* General Styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #06283d;
    color: #fff;
}

.main {
    margin: 3rem 0;
}

.shopping-cart {
    padding: 2rem 0;  
}

.shopping-cart-title {
    text-align: center;
}

.shopping-cart-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.add {
    display: flex;
    gap: 1rem;
}

#add-item {
    border: 2px solid lightseagreen;
    padding: .5em 1.5em;
    border-radius: 5px;
}

.hide {
    display: flex;
    gap: .5rem;
}

.shopping-cart-list {
    line-height: 1.5;
}

.hidden {
    display: none;
}

.list-element {
    color: lightseagreen;
    font-weight: 700;
}







